/*
    * Nombre: Alvaro Calo Casillas
    * Fecha: 30/12/2023
    * Modulo: LMSGI
    * UD1
    * Tarea: LMSGI02 Tarea evaluativa 2 (80%). Sitio Web
    * Autoevaluación: 
*/


/*
Hoja de estilos para el index
*/

/* Ajustado a 1920 x 1200*/


    /* Estilos para el título del main*/
    h2 {
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

        h2 span {
            font-style: italic;
            margin: 2%;
            transform: rotate(-50deg);
        }

    /* Estilos para la sección del main*/
    section {
        display: flex;
        justify-content: center;
    }

        /* Estilos para el primer cuadro */
        .foto-izquierda {
            width: 30%;
        }

        /* Estilos para el 2 y 3 cuadro */
        article {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .segundo-articulo {
            padding: 5%;
        }

            .foto-derecha {
                width: 100%;
            }

